.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 226px;
}

nav h3 {
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
}

.dark2 {
    color: #474747;
    font-size: 20px;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.banner {
    display: flex;
}

.banner .banner-container {
    margin: 35px 163px 184px 230px;
    width: 585px;
    height: 356px;
}

/* .banner img {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    position: bottom right;
} */

.banner .banner-container p {
    color: #757575;
    font-size: 8px;
}
.banner-container button{
    display: inline;
}
.btn-cv{
    width: 120px;
    height: 44px;
    font-size: 10px;
}
.font-awe{
    width: 20px;
    height: 54px;
    margin-left: -32px;
}
.btn-contact{
    width: 120px;
    height: 44px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #FFF8F3;
}

.main-section {
    text-align: center;
    width: 680px;
    height: 290px;
    margin: 90px auto;
    display: block;
    background-color: #FFF8F3;
    padding: 130px 156px;
    border-radius: 10px;
    
}

.main-info {
}
.dark-3{
    color: #757575;
}
.informetion {
    display: flex;
    gap: 50px;
    margin: 30px 46px 0;
}
.section-work{
    text-align: center;
    margin: 208px 230px 50px;
}

.section-icons{
    display: flex;
    margin: 50px 230px 0px;
    gap: 24px;
    justify-content: space-around;
}
.dark-1{
    color: #181818;
}
.section-icon{
    gap: 24px;
    margin: 0px;
    box-shadow: 0px 0px 15px gray ;
    padding: 10px;
    border-radius: 5px;
}
.section-icon h5{
    margin-bottom: 0px;
    margin-top: 10px;
}

/* section end*/
.section-resume{
    display: flex;
    gap: 71px;
}
.resume-title{
    text-align: center;
    margin-top: 130px;
    font-weight: bold;
    font-size: 35px;
}
.section-education{
    margin-left: 230px;
}
.section-experience{
    margin-right: 277px;
}
.education-title{
    font-size: 30px;
    color: #474747;
}
.education{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-top: -30px;
}
.edu-uni{
    color: #757575;
    font-weight: 600px;
    font-size: 15px;
    margin-top: -27px;
}
.edu-skill{
    font-size: 10px;
    color: #757575;
    margin-top: -20px;
}
.edu-margin{
    margin-top: 10px;
}
.edu-btn{
    margin: 50px auto;
    display: block;
    font-size: 12px;
}
footer{
    max-width: 1600px;
    height: 780px;
    background-color: #FFF8F3;
}
.main-footer{
    display: flex;
    gap: 117px;
}
.footer-description{
    margin-left: 230px;
    margin-top: 130px;
}
.footer-description p{
    font-size: 10px;
    margin-top: -30px;

}
.footer-input{
    margin-right: 230px;
    margin-top: 130px;
}
.main-footer h6{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.input-name{
    width: 461px;
    height: 64px;
    font-size: 10px;
    color: #757575;
    margin-top: -30px;
    border: none;
}
.input-email{
    margin-top: 24px;
}
.input-comment{
    width: 461px;
    height: 181px;
    font-size: 10px;
    color: #757575;
    border: none;
    margin-top: 24px;
}
.input-btn{
    margin-top: 24px;
}
.image-icons {
    margin-left:-8px;
}