.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #FFF8F3;
}
header{
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 70px top;
    background-position-y: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 226px;
}
nav h3{
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
}
.dark2{
    color: #474747;
    font-size: 20px;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.banner{
    display: flex;
}
.banner .banner-container{
    margin: 35px 163px 184px 230px;
    width: 585px;
    height: 356px;
}
.banner img{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    margin-right: 190px;
    width: 484px;
    height: 400px;
}
.banner .banner-container p{
    color: #757575;
}